Feedback on -00 from Job Snijders


In section 8.2.4.5, in addition to disallowing id-pe-ipAddrBlocks and
id-pe-autonomousSysIds, please also disallow id-pe-ipAddrBlocks-v2 and
id-pe-autonomousSysIds-v2 (RFC8360).

In Section 8.2.3 perhaps AuthorityInfoAccess is a useful 'SHOULD' field
for debugging / troubleshooting purposes? AIA obviously is not needed to
make this work.

In section 8.2.3, maybe clarify that 'issuer' MUST NOT be present? And
while there, perhaps also disallow issuer and subject unique identifiers
(the crap related to X509_get0_uids(), Bob should know)

In section 8.2.3 - under what circumstances might the 'subject' be
included? If there is particular reason to document, then why not a MUST
NOT?

It might be useful for troubleshooting / purpose constraining to have a
Certification Policy OID? (RFC 5280, section 4.2.1.4)

Section 8.2.4.4 made me wonder 'how is that IPAddress actually encoded?'
Is it an ASN.1 BIT STRING like in rfc3779? But the document goes on to
specify that RFC 3779 has nothing to do with this all. Perhaps good to
try and somehow disambiguity the name or clarify what the encoding is.